
<div class="static-section-label" data-caption="Colors">
    @(Html.DevExtreme().ColorBox()
        .ID("match")
        .Value("#f05b41")
        .InputAttr("aria-label", "Match")
        .Label("Match")
        .LabelMode(EditorLabelMode.Static)
        .Height(50)
    )
    @(Html.DevExtreme().ColorBox()
        .ID("warning")
        .Value("#f05b41")
        .InputAttr("aria-label", "Warning")
        .Label("Warning")
        .LabelMode(EditorLabelMode.Static)
        .Height(50)
    )
    @(Html.DevExtreme().ColorBox()
        .ID("mismatch")
        .Value("#f05b41")
        .InputAttr("aria-label", "Mismatch")
        .Label("Mismatch")
        .LabelMode(EditorLabelMode.Static)
        .Height(50)
    )
</div>